html, body {
    height: 100%; /* Full height of the viewport */
    width: 100%; /* Full width of the viewport */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF5733; /* Initial background color */
    color: #ffffff; /* White text for better contrast */
    font-family: 'Arial', sans-serif;
    transition: background-color 1s ease; /* Smooth transition */
}

.clock-container {
    text-align: center;
}

#clock {
    font-size: 5rem;
    font-weight: bold;
    /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adds a shadow effect */
    transition: color 1s ease; /* Smooth text color transition */
}